.module {
  border-radius: 0.5rem;
  border: 1px solid #000;
  padding: 0.5rem 0.75rem;
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  align-self: center;
}

.module:hover {
  background-color: #c8c8c8;
}
