.module {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.25rem;
  padding: 0.75rem 1rem;
  border-bottom: 1px solid #c8c8c8;
}

.module:last-child {
  border-bottom: none;
}

.titleContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  min-width: 0;
  flex: 1;
}

.testId {
  flex-shrink: 0;
}

.title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.links {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  flex-shrink: 0;
}
